img {
    margin: 0;
}

.navbar {
    padding:8px 10vh 8px 10vh;
    margin:0;
    transition: ease 1s;
}

.navbar-toggler {
    border:none;
}

.navbar-toggler:hover {
    color:#fa7511;
    transition:  0.2s ease-in-out;
}

.navbar-toggler:focus {
    outline: none;
    color: #fa7511;
    transition: 0.2s ease-in-out;
}

.navbar .show {
    height: 91.5vh;
    transition:ease-out .8s;
    overflow: hidden;
}

.navbar-collapse {
    overflow:hidden;
    height: 0;
    display: flex;
    transition: ease .15s;
}

.navbar-nav {
    margin:auto;
    flex-direction: row;
}

.navbar-nav a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
}

.navbar-nav a:hover, .navbar-nav a:focus  {
    color: #fa7511;
    transition: 0.2s ease-in-out;
}

.socials {
    z-index:200;
    position: fixed;
    top: none;
    bottom:0;
    height:12vh;
    width: 90vw;
    transition: opacity .1s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.socials .row {
    width:50%;
}

.socials .col {
    text-align: center;
    padding:0;   
}

.socials a {
    min-width: 2em !important;
    width:2em !important;
    height:2em;
    border-radius: 50%;
    border:none;
    margin:auto;
}

.socials .btn {
    padding: 0;
    background-color:white !important;
}

.socials svg {
    margin-top:6px;
    width: 1.4em !important;
    height: 1.4em !important;
    color: rgba(0, 0, 0, 0.8) !important;
    transition: 0.2s ease-in-out;
}

.socials svg:hover {
    color: #fa7511 !important;
    transition: 0.2s ease-in-out;
}

.fade-in {
	-webkit-animation: fade-in 1s ease both;
	        animation: fade-in 1s ease both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
    align-content: center;
    width: 60vw;
    text-align: center;
}

.about h2 {
    font-weight: 500;
    margin-bottom: 6vh;
}

.about hr {
    margin: 6vh 0 6vh 0;
    background: #F2795B;
    height: 1px;
}

.about-icons {
    margin: 4vh 0;
    font-size: 1.4em;
}

.about-icons svg {
    height: 1.25em;
    width: 1.25em;
}


.contact-icons {
    margin: 6vh 0;
}

.contact-icons a {
    min-width: 4rem;
}

.contact-icons a:hover {
    background-color:#F2795B;
    border-color:#F2795B;
}

.contact-icons a.focus, .contact-icons a:focus {
    background-color:#F2795B;
    border-color:#F2795B;
    box-shadow: none;
}

.contact-icons a, .contact-icons a:hover {
    color: white;
}

.contact-icons svg {
    color:white;
    height: 1.4em;
    width: 1.4em;
}

.hero {
    margin: 0 0 13vh 0;
    height: 80vh;
    color: white;
    background: rgb(39,2,126);
    background: linear-gradient(20deg, rgba(39,2,126,1) 0%, rgba(101,9,159,1) 35%, rgba(254,121,0,1) 100%);
    padding: 10%;
}

.hero h1 {
    font-weight: 700;
    font-family: 'Rubik' !important;
    font-size: 8em;
    line-height: .9;
    color: rgba(255, 255, 255, 0.35);
}

.hero h1 span {
    color: white;
}

.hero h2 {
    font-weight: 500;
    font-family: 'Rubik' !important;
    font-size: 1.5em;
}

.hero h2 span {
    font-weight: 700;
}

.hero .lottie-container {
    overflow: hidden;
    justify-content: center;
}

.hero .lottie-container h4 {
    color:white;
    text-decoration: none;
    text-align: center;
    position: relative;
    top:-25vh;
}

.hero .lottie-container h4:hover, .hero .lottie-container a:hover{
    color:white;
    text-decoration: none;
}

.hero .lottie-container *[role=button]{
    overflow: hidden;
    cursor: default;
    width: 60vh;
    height: 60vh;
}

.filters {
    text-align: right;
}

.filters li {
    list-style: none;
    display: inline-flex;
    padding: 0 1vw;
}

.filter {
    background-color:transparent;
    border-color: transparent;
    color: darkgray;
}

.filter.focus, .filter:focus, .filters li:focus, .filters li.focus {
    background-color:#F2795B;
    box-shadow: none;
}


.project-grid {
    overflow: hidden;
}

.project-grid .card-deck {
    padding: 0;
    margin:0 -5px;
    justify-content: center;
}

.project-grid .card-deck .project {
    margin:5px 5px;
}

.project-grid h2, .project-grid ul {
    margin-bottom: 0;
}

.project {
    border-radius: 0;
}

.project:hover {
    // border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(20deg, rgba(39,2,126,1) 0%, rgba(101,9,159,1) 35%, rgba(254,121,0,1) 100%);
}

.project-card {
    padding: 1rem 1.25rem;
}

.project-card .project-title {
    font-size: 1.4em;
    margin-bottom: .4rem;
}

.project-card .project-links {
    font-size: .9em;
    text-align: right;
    margin-bottom: .4rem;
    
}

.project-card .project-description {
    font-size: .9em;
    text-align: left;
    margin-bottom: 0;
}

.project-card .project-type {
    font-size: .8em;
    text-align: right;
    margin-bottom: 0;
}

.project-card .project-links .project-button {
    padding:2px 4px;
}


.project-card .project-links a {
    padding:2px 0px;
    margin:2px;
}


.project-button {
    background-color:rgba(0, 0, 0, 0.03);
    border:1px solid rgba(0, 0, 0, 0.125);
}

.project .card-footer {
    padding:.2rem 1.25rem;
}

.project .card-footer small {
    font-size: .8em;
    line-height: .9;
}

.project-hero {
    margin: 0 0 8vh 0;
    height: 50vh;
    background-repeat: no-repeat;
    padding:0;
}

.project-hero .gatsby-image-wrapper {
    width:100%;
}

.project-hero h1 {
    color: rgba(255, 255, 255, 0.5);
}

.project-stick .sticky-top {
    z-index: 999;
    top: 18vh;
}

.project-body {
    margin: 0 0 13vh 0;
}

.project-body [data-rmiz-wrap="visible"], .project-body [data-rmiz-wrap="hidden"] {
    display: block;
    width: 100%;
    // height: 100%;
}

.project-group .card {
    margin:.5vw .5vh;
}

.project-grid #active {
    color: white;
    border:1px solid rgba(255, 255, 255, 0.6);
    background: #3c4043;
    background: linear-gradient(20deg, rgba(39,2,126,1) 25%, rgba(101,9,159,.9) 60%, rgba(254,121,0,1) 100%);
}

.project-grid #active .card-footer {
    background-color: rgba(255, 255, 255, 0.85);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
}

.project-grid #active button, .project-grid #active .project-button {
    background-color:rgba(255, 255, 255, 0.9);
    border:1px solid rgba(255, 255, 255, 0.125);
}

.project-grid #active button:hover, .project-grid #active .project-button:hover {
    border:1px solid rgba(255, 255, 255, 0.6);
    background-color: #212529;
}

.no-radius .card-img {
    border-radius: 0 !important;
}

.project-body .card-columns .card {
    margin-bottom:.75rem;
}

.project-body .card-columns button {
    cursor: zoom-in;
}

button[aria-label="Unzoom image"] {
    cursor: zoom-out;
}



// Media Options

//xs
@media screen and (max-width: 576px) {
    .project-hero {
        height: 30vh;
    }

    .hero h1 {
        font-size: 4em;
    }
    
    .filters li, .filters li .btn {
        padding:0 3px !important;
        margin:0;
    }

    .hero .lottie-container *[role=button]{
        width: 30vh;
        height: 40vh;
    }

    .hero .lottie-container {
        margin-top: -30vh;

    }

    .lottie-container svg {
        height: 80vh !important;
        width: 80vw !important;
    }

}

//sm
@media screen and (max-width: 768px) {
    .project-hero {
        height: 30vh;
    }

    .hero {
        height:65vh;
        text-align: center;
    }

    .hero h1 {
        font-size: 4em;
    }
    
    .project-card .project-links {
        text-align: right !important;
    }

    .project-card .project-type {
        text-align: right !important;
        margin: 0;
    }

    .filters li, .filters li .btn {
        padding:0 4px;
        font-size: .75rem;
    }

    .hero h1 {
        font-size: 5em;
    }

    .hero h2 {
        font-size: 1.3em;
    }

    .project-grid h2 {
        font-size: 1.3em;
    }

    .navbar {
        padding: 10px 1vh 10px 1vh;
    }

    .footer, .copywrite {
        text-align: center !important;
    }

    .about {
        margin: 1vh !important;
        width: 95vw !important;
    }

    .about h2 {
        margin-bottom: 4vh;
    }

    .about hr {
        margin: 4vh 0;
    }

    .about-icons {
        font-size: 1em;
        margin: 3vh 0;
    }

    .contact-icons {
        margin: 4vh 0;
    }

    .project-stick {
        margin-bottom: 4vh;
    }

    .socials {
        height:20vh !important;
    }

}

//small-medium
@media screen and (max-width: 994px) {
    .filters {
        text-align: center;
    }

    .project-grid h2 {
        text-align: center;
    }

    .hero h1 {
        font-size: 6em;
    }

    .hero h2 {
        font-size: 1.3em;
    }

    .project-grid h2 {
        font-size: 1.3em;
    }

    .socials {
        height:16vh;
    }

}

//md
@media screen and (max-width: 1200px) {
    .project-card .project-links {
        text-align: left !important;
    }

    .project-card .project-type {
        text-align: left !important;
        margin: 5px 0;
    }

    .hero h1 {
        font-size: 7em;
    }

    .hero h2 {
        font-size: 1.3em;
    }

    .project-grid h2 {
        font-size: 1.3em;
    }

}

//lg

@media screen and (max-width: 1440px) {
    .project-grid h2 {
        font-size: 1.2rem;
    }
    .filters li {
        padding:0 .1vw;
    }



}
