.navbar {
    padding:8px 10vh 8px 10vh;
    margin:0;
    transition: ease 1s;
}

.navbar-toggler {
    border:none;
}

.navbar-toggler:hover {
    color:#fa7511;
    transition:  0.4s ease-in-out;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar .show {
    height: 91.5vh;
    transition:ease-out .8s;
    overflow: hidden;
}

.navbar-collapse {
    overflow:hidden;
    height: 0;
    display: flex;
    transition: ease .15s;
}

.navbar-nav {
    margin:auto;
    flex-direction: row;
}

.navbar-nav a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
}

.navbar-nav a:hover, .navbar-nav a:focus  {
    color: #fa7511;
    transition: 0.4s ease-in-out;
}

.about {
    align-content: center;
    width: 60vw;
    text-align: center;
}

.about h2 {
    font-weight: 500;
    margin-bottom: 6vh;
}

.about hr {
    margin: 6vh 0 6vh 0;
    background: #F2795B;
    height: 1px;
}

.about-icons {
    margin: 4vh 0;
    font-size: 1.4em;
}

.about-icons svg {
    height: 1.25em;
    width: 1.25em;
}


.contact-icons {
    margin: 6vh 0;
}

.contact-icons a {
    min-width: 4rem;
}

.contact-icons a:hover {
    background-color:#F2795B;
    border-color:#F2795B;
}

.contact-icons a.focus, .contact-icons a:focus {
    background-color:#F2795B;
    border-color:#F2795B;
    box-shadow: none;
}

.contact-icons a, .contact-icons a:hover {
    color: white;
}

.contact-icons svg {
    color:white;
    height: 1.4em;
    width: 1.4em;
}

.hero {
    margin: 0 0 13vh 0;
    height: 80vh;
    color: white;
    background: rgb(39,2,126);
    background: linear-gradient(20deg, rgba(39,2,126,1) 0%, rgba(101,9,159,1) 35%, rgba(254,121,0,1) 100%);
    padding: 10%;
}

.hero h1 {
    font-weight: 700;
    font-family: 'Rubik' !important;
    font-size: 8em;
    line-height: .9;
    color: rgba(255, 255, 255, 0.35);
}

.hero h1 span {
    color: white;
}

.hero h2 {
    font-weight: 500;
    font-family: 'Rubik' !important;
    font-size: 1.5em;
}

.hero h2 span {
    font-weight: 700;
}

.hero .lottie-container h4 {
    text-align: center;
    position: relative;
    top:-25vh;
    
}

.filters {
    text-align: right;
}

.filters li {
    list-style: none;
    display: inline-flex;
    padding: 0 1vw;
}

.filter {
    background-color:transparent;
    border-color: transparent;
    color: darkgray;
}

.filter.focus, .filter:focus, .filters li:focus, .filters li.focus {
    background-color:#F2795B;
    box-shadow: none;
}


.project-grid {
    overflow: hidden;
}

.project-grid .card-deck {
    padding: 0;
    margin:0 -5px;
}

.project-grid .card-deck .project {
    margin:5px 5px;
}

.project-grid h2, .project-grid ul {
    margin-bottom: 0;
}

.project {
    border-radius: 0;
    flex-basis: calc(33.3% - 10px) !important;
}

.project:hover {
    border: 1px solid;
    
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(20deg, rgba(39,2,126,1) 0%, rgba(101,9,159,1) 35%, rgba(254,121,0,1) 100%);
}

.project-card {
    padding: 1rem 1.25rem;
}

.project-card .project-title {
    font-size: 1.4em;
    margin-bottom: .4rem;
}

.project-card .project-links {
    font-size: .9em;
    text-align: right;
    margin-bottom: .4rem;
    
}

.project-card .project-description {
    font-size: .9em;
    text-align: left;
    margin-bottom: 0;
}

.project-card .project-type {
    font-size: .8em;
    text-align: right;
    margin-bottom: 0;
}

.project-card .project-links a, .project-card .project-links a button {
    padding:2px 4px;
    margin:2px;
}

.project-button {
    background-color:rgba(0, 0, 0, 0.03);
    border:1px solid rgba(0, 0, 0, 0.125);
}

.project .card-footer {
    padding:.2rem 1.25rem;
}

.project .card-footer small {
    font-size: .8em;
    line-height: .9;
}


