.navbar {
    padding:8px 10vh 8px 10vh;
    transition: ease 1s;
}

.navbar-toggler {
    border:none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar .show {
    height:90vh;
    transition: ease .8s;
    overflow: hidden;
}

.navbar-collapse {
    overflow:hidden;
    height: 90vh;
    transition: ease .8s;
    display: flex;
}

.navbar-nav {
    margin:auto;
    flex-direction: row;
}

.navbar-nav a {
    color: #fa7511;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10vh;
    text-decoration: none;
}

.hero {
    margin: 0 0 13vh 0;
    height: 80vh;
    color: white;
    background: rgb(39,2,126);
    background: linear-gradient(20deg, rgba(39,2,126,1) 0%, rgba(101,9,159,1) 35%, rgba(254,121,0,1) 100%);
    padding: 10%;
}

.hero h1 {
    font-weight: 700;
    font-family: 'Rubik' !important;
    font-size: 8em;
    line-height: .9;
    color: rgba(255, 255, 255, 0.35);
}

.hero h1 span {
    color: white;
}

.hero h2 {
    font-weight: 500;
    font-family: 'Rubik' !important;
    font-size: 1.5em;
}

.hero h2 span {
    font-weight: 700;
}

.hero .lottie-container h4 {
    text-align: center;
    position: relative;
    top:-25vh;
    
}

.project-grid .card-deck {
    margin:0 -15px;
}

.project-grid .card-deck .project {
    margin:5px 5px;
}

.project {
    border-radius: 0;
}

.project:hover {
    border: 1px solid;
    
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(20deg, rgba(39,2,126,1) 0%, rgba(101,9,159,1) 35%, rgba(254,121,0,1) 100%);
}

.project-card {
    padding: 1rem 1.25rem;
}

.project-card .project-title {
    font-size: 1.4em;
    margin-bottom: .4rem;
}

.project-card .project-links {
    font-size: .9em;
    text-align: right;
    margin-bottom: .4rem;
}

.project-card .project-description {
    font-size: .9em;
    text-align: left;
    margin-bottom: 0;
}

.project-card .project-type {
    font-size: .8em;
    text-align: right;
    margin-bottom: 0;
}

.project-card .project-links a {
    margin:2px;
}

.project .card-footer {
    padding:.2rem 1.25rem;
}

.project .card-footer small {
    font-size: .8em;
    line-height: .9;
}
